<ion-header>
  <ion-toolbar>
    <ion-title>MemoGram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="center-cropped">
    </div>

    <ion-card-header>

      <ion-card-title>Capture Your Memories</ion-card-title>
      <ion-card-subtitle>MemoGram is a service where you can create and originise your memories! Simply upload an image
        and write a
        caption, then see a timeline of all of your memories.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>


  </ion-card>
  <ion-card>

    <ion-card-header>

      <ion-card-title>Login/Register here:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="user.email" type="email" placeholder="Email Address..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="user.password" type="password" placeholder="Password..."></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="block" fill="clear" shape="round">
        Login
      </ion-button>
      <ion-button (click)="register()" expand="block" fill="clear" shape="round">
        Register
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>