<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create New Memory</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form (ngSubmit)="createNewMemory()">
        <ion-item>
          <ion-input (change)="onImageSelected($event)" type="file" placeholder="Pick Image" id="filepicker"
            accept=".png, .jpg, .jpeg"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Desribe the memory:</ion-label>
          <ion-textarea name="memText" [(ngModel)]="memText" autoGrow=true rows=1 required=true autofocus=true>
          </ion-textarea>
        </ion-item>
        <br>
        <br>

        <ion-button block color="primary" type="submit">
          Create
        </ion-button>

        <ion-progress-bar type="indeterminate" *ngIf="showProgress"></ion-progress-bar>


      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src={{imageUrl}} alt="">
  </ion-card>
</ion-content>